<center>
  <div class="col-4">
    %alert%
    <h2>Login</h2><br>
    <form action="/hub/login">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-user"></i></span>
        </div>
        <input name="login" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-key"></i></span>
        </div>
        <input name="password" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</center>