<center>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ profile["avatarUrl"] }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ profile["login"] }}</h5>
            <p class="card-text">{{ profile["email"] }}</p>
        </div>
    </div>
</center>
