<link type="text/css" rel="stylesheet" href="/assets/prism.css">

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>JPHP Documentation</h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
                {% for item in pages %}
                    <a class="list-group-item list-group-item-action" id="list-home-list" href="/docs?page={{ item.page }}">{{ item.name }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-9">
            %html%
        </div>
    </div>
</div>

<script src="/assets/prism.js"></script>